<template name="homeAbout">
	<div class="container">
	    <h1 class="display-3">About</h1>
	    <div class="row">
	        <div class="col-md-3 col-sm-9">
		        <img src="/images/about.jpg" width = "100%" lenght = "100%" class="img-responsive">
		    </div>
		    <div class="col-md-9 col-sm-9">
		          <p class="text lead">My name is Paulina Grunwald and i love coding!</p>
		          <p lass="text">I am project Engineer with 7 years of experience in Oi&Gas industry. I am skilled in mudlogging, logging, coring, hydraulic fracturing, offshore operations, project management and data analytics. I have worked in the Netherlands, Poland and Romania. I am <b>IASSC Green Belt Lean Six Sigma</b> certified. Over the years I have developed a passion for data analytics, <b>Python</b> and <b>R programming</b>, machine learning, predictive analytics and web development. I speak fluently Polish, Romanian and English. I am currently learning Japanese.</p>

		          <p class="text">Although most of my career I have been working in oil&gas industry I have developed passion for software development and programming. In 2017 I have completed Udacity Data Analyst Nanodegree during which I have gain various skills e.g programming in Python and R, machine learning, creating engaging web vizualization in D3.js and advanced statistics. Currently, I am following Udacity Full Stack Web Developer Nanodegree where I am learning about <b>HTML</b>, <b>CSS</b>, <b>responsive website design</b>, <b>JavaScript&Ajax</b>, databases and deploying to Linux Servers. I am also developing skills in <b>Blockchain technology</b> and currently learning Ethereum solidity programming language.</p>

		          <hr class="my-4">
		          <p>Source code for this project can be found <a href="https://github.com/paulina-grunwald">my github profile</a>.</p>
		    </div>
	      </div>
  	</div>
</template>