<template name="homeContact">
	<div class="container">
		<div class="row" id="contact">
	        <div class="col-md-12 col-lg-12 col-sm-12">
	            <h1 class="display-3">Contact</h1>
	                <p class='text text-contact'>If you have any questions about myself or my web site please conact me on my e-mail or through my social media :)</p>
	                <div class="contact">
	                    <a href="mailto:paulina.grunwald@gmail.com" class="fa fa-envelope fa-3x" aria-hidden="true"></a>
	                    <a href="https://www.linkedin.com/in/paulinagrunwald" target="_blank" class="fa fa-linkedin-square fa-3x" aria-hidden="true"></a>
	                    <a href="https://www.facebook.com/paulina.grunwald" target="_blank" class="fa fa-facebook-square fa-3x" aria-hidden="true"></a>
	                    <a href="https://github.com/paulina-grunwald" target="_blank" class="fa fa-github-square fa-3x" aria-hidden="true"></a>
	                </div>
	            </div>
	        </div>
	</div>
</template>