<template name="customers">
	<div class="container">
	    <h4 class="display-2 text-muted">Last 5 entries in the database</h4>
		<table class="table" id="customers">
		  <thead class="thead-dark">
		    <tr>

		      <th scope="col">Customer Name</th>
		      <th scope="col">Customer Age</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{{#each clients}}
			    <tr>

			      <td>{{customerName}}</td>
			      <td>{{customerAge}}</td>
			    </tr>
		    {{/each}}
		  </tbody>
		</table>
	</div>
</template>

